<div class="user-login">
  <section>
    <%= form_for :session, url: login_path do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: "block col-12 field" %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, class: "block col-12 field" %>
      </div>
      <%= f.submit 'Log In', class: "mt2 btn btn-primary mb1 bg-teal" %>
    <% end %>
      <p>Don't have an account? <%= link_to 'Sign up now.', new_user_path %></p>
    </div>
  </section>

  <section>
    <% if current_user.blank? %>
    <div>
      <h1>Please Sign In</h1>
      <%= link_to 'Sign In with Github', '/auth/github' %>
    <% else %>
      <p>
        You are signed in as <%= current_user.username %>.  Click the button below to sign out.
      </p>
    <% end %>

    <%= button_to "Sign Out", signout_path, method: :delete %>
    </div>
 </section>   

