<section class="dashboard-main">
  <h2> <%= current_user.first_name %>'s Dashboard </h2>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  
  <% if current_user.github_token.nil? %>
    <%= button_to 'Connect to Github', '/auth/github', class: "btn btn-primary mb1 bg-teal" %>
  <% end %>

  <% unless current_user.github_token == nil %>
    <section>
      <h1>Github</h1>
      <p>Repositories</p>
        <% @facade.repos.each do |repo| %>
          <ul class="repo">
            <li class="name"><%= link_to repo.name, repo.link %></li>
          </ul>
        <% end %>
      <p>Followers</p>
        <% @facade.followers.each do |follower| %>
          <ul class="follower">
            <li class="name"><%= link_to follower.name, follower.link %></li>
            <% if github_connected?(follower) %>
            <%= link_to 'Add as Friend', friendships_path(friend_id: current_user), method: :post %>
            <% end %>
          </ul>
        <% end %>
      <p>Following</p>
        <% @facade.followed_users.each do |followed_user| %>
          <ul class="followed_user">
            <li class="name"><%= link_to followed_user.name, followed_user.link %></li>
          </ul>
        <% end %>
      <p>My Friends</p>
        <% @facade.followed_users.each do |followed_user| %>
          <ul class="followed_user">
            <li class="name"><%= link_to followed_user.name, followed_user.link %></li>
          </ul>
        <% end %>
    </section>
  <% end %>
</section>
