<section class="dashboard-main">
  <h2> <%= current_user.first_name %>'s Dashboard </h2>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <% current_user.bookmarked_tutorials.each do |tutorial| %>
    <ul><%= tutorial.description %></ul>
        <% tutorial.videos.each do |video| %>
        <li><%= link_to video.title %></li>
        <% end%>
    <% end%>
  </section>
  
  <% if current_user.gh_user.nil? %>
    <%= button_to 'Connect to Github', '/auth/github', class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  
  <% unless current_user.gh_user == nil %>
    <section>
      <h1>Github</h1>
      <p>Repositories</p>
        <% @facade.repos.each do |repo| %>
          <ul class="repo">
            <li class="name"><%= link_to repo.name, repo.link %></li>
          </ul>
        <% end %>
      <p>Followers</p>
        <% @facade.followers.each do |follower| %>
          <ul class="follower">
            <li class="name">
              <%= link_to follower.name, follower.link %> 
              <% if gh_user?(follower) %>
                <%= button_to "Add as Friend", friendships_path(gh_user_id: follower.gh_id), class: "btn btn-primary mb1 bg-teal" %>
              <% end %>
            </li>
          </ul>
        <% end %>
      <p>Following</p>
        <% @facade.followed_users.each do |followed_user| %>
          <ul class="followed_user">
            <li class="name">
              <%= link_to followed_user.name, followed_user.link %> 
              <% if gh_user?(followed_user) %>
                <%= button_to "Add as Friend", friendships_path(gh_user_id: followed_user.gh_id), class: "btn btn-secondary mb1 bg-teal" %>
              <% end %>
            </li>
          </ul>
        <% end %>
        <p>Friends</p>
          <% current_user.gh_user.friendships.each do |friendship| %>
            <ul class="friend">
              <li class="name"><%= link_to friendship.friend.name, friendship.friend.link %></li>
            </ul>
          <% end %>
        <p>Friended by</p>
          <% current_user.gh_user.inverse_friends.each do |gh_user| %>
            <ul class="inverse_friend">
              <li class="name"><%= link_to gh_user.name, gh_user.link %></li>
            </ul>
          <% end %>
    </section>
  <% end %>
</section>
